# Pilot Analysis
### Testing Script for One Company

In [1]:
import pandas as pd
import pyreadstat
import numpy as np

In [2]:
##Load in gvkey List
gv_list, meta = pyreadstat.read_dta('gvkey_list.dta')
gv_list.head()

    gvkey
0  210835
1  210418
2  029751
3  028349
4  001331

In [3]:
## Sort & change to int
gv_list = gv_list.sort_values(by = 'gvkey')
gv_list = gv_list.drop(19)
gv_list['gvkey'] = gv_list['gvkey'].astype(str).astype(int)
gv_list.head()

       gvkey
3161    1004
2210    1013
3568    1019
1857    1021
21557   1025

In [4]:
##Load in reference map
cikmap = pd.read_csv('index.csv')
cikmap.set_index(keys = cikmap['gvkey'], inplace=True) ##gvkeys as indices
cikmap.head(10)

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_NT,N10K_A,N10Q,N10Q_NT,N10Q_A,NDEF,N8K,NTOT,FLAG
gvkey,,,,,,,,,,,,,,,,,,,
1000,1000,A & E PLASTIK PAK INC,31DEC1964,31DEC1977,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1001,1001,A & M FOOD SERVICES INC,31DEC1978,31DEC1985,723576.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1002,1002,AAI CORP,31DEC1968,31DEC1972,1745.0,COMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1002,1002,AAI CORP,31DEC1968,31DEC1972,1306124.0,COMPN,AAI CORP,12NOV2004,11MAY2005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3
1003,1003,A.A. IMPORTING CO INC,31DEC1980,31JAN1990,730052.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1004,1004,AAR CORP,31MAY1966,31MAY2022,1750.0,COMPN,AAR CORP,13JAN1994,01SEP2022,29.0,0.0,0.0,88.0,0.0,2.0,36.0,240.0,1976.0,3
1005,1005,A.B.A. INDUSTRIES INC,31OCT1974,31OCT1981,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1006,1006,ABC INDS INC,30JUN1974,30JUN1982,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1007,1007,ABKCO INDUSTRIES INC,30SEP1974,30SEP1984,1882.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1008,1008,ABM COMPUTER SYSTEMS INC,31MAY1984,31MAY1986,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
##Find first company CCIK
key = gv_list['gvkey'].iloc[0]
cik = cikmap['cik'].loc[key].astype(int)
cik

1750

In [6]:
cik_TEST = cikmap['cik'].loc[1013].astype(int)
cik_TEST

61478

In [81]:
##Download
##script is from pypi.org website example
dates = []
from sec_api import FullTextSearchApi

queryApi = FullTextSearchApi(api_key="7345fc190e3c8b7712f1181f89bcdbb8fffb814437abcba87c5b09448be18ce4")

query = {
  "query": "interest rate swap",
  "formTypes": ["10-K","10-Q"],
  "ciks": ["61478"],
  "startDate": "2003-01-01",
  "endDate": "2022-09-18"
}

filings = queryApi.get_filings(query)

##print dates of filings
for i in range(len(filings['filings'])):
    dates.append(filings['filings'][i]['filedAt'])
                 
dates

['2008-09-05',
 '2008-06-09',
 '2010-05-06',
 '2010-08-05',
 '2009-06-04',
 '2009-09-02',
 '2009-03-04',
 '2010-11-23',
 '2010-02-09',
 '2008-12-22',
 '2003-09-12']